PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/zentrax
JWT_SECRET=zentrax_super_secret_key_change_in_production
CLIENT_URL=http://localhost:3000
NODE_ENV=development
ADMIN_EMAIL=zentrax1234@gmail.com
ADMIN_PASSWORD=zentraxconstructionabc@4321

CLOUDINARY_CLOUD_NAME=djitcex9v
CLOUDINARY_API_KEY=812698176733776
CLOUDINARY_API_SECRET=hn7Gd0xyaL8XtsbML1e5HbIu5eQ